* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  border: 10px solid #010102;
}

.container {
  scroll-snap-type: y mandatory;
}

section {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.one {
  width: 100%;
  position: relative;
}

.rocket_photo {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  position: relative;
  opacity: 1;
}

.topline {
  width: 100%;
  position: absolute;
  display: block;
  float: top;
  margin-bottom: 40%;
}

.h1 {
  margin-bottom: 16vh;
  position: absolute;
  color: white;
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
}

.isrologo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.isrotext {
  color: white;
  font-size: 20px;
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
  float: left;
  margin-left: 100px;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked+.menu__btn>span {
  transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
  top: 0;
  transform: rotate(0deg);
}

#menu__toggle:checked+.menu__btn>span::after {
  top: 0;
  transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
  left: 0 !important;
}

.menu__btn {
  position: absolute;
  top: 25px;
  left: 1250px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  display: inline;
  align-items: center;
  float: right;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
  display: flex;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transition-duration: .25s;
}

.menu__btn>span::before {
  content: '';
  top: -8px;
}

.menu__btn>span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: white;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  z-index: 2; /* Add this line */
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

.two {
  display: flex;
  width: 100%;
  height: 210vh;
  background-color: #010102;
  /* position: relative; */
  overflow: hidden;
}

.photos {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* MODULE */
.photo1 {
  position: relative;
  width: 300px;
  height: 300px;
  margin-top: -10%;
  margin-left: 15%;
  transform: rotate(-8deg);
}

/* LIFTOFF*/
.photo2 {
  position: relative;
  width: 300px;
  height: 300px;
  margin-top: 7%;
  margin-left: -30%;
  transform: rotate(8deg);
}

/* PRAGYAN  */
.photo3 {
  position: relative;
  width: 300px;
  height: 300px;
  margin-top: 24%;
  margin-left: -9%;
  transform: rotate(-6deg);
}

/* ROVER */
.photo4 {
  position: relative;
  width: 300px;
  height: 300px;
  margin-top: 41%;
  margin-left: -29%;
  transform: rotate(8deg);
}

/* TEXT WITH THE TEXT */
.about {
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  margin-top: 8%;
  margin-left: 38%;
  overflow: visible;
}

.about_text {
  width: fit-content;
  height: 50px;
  margin-left: 25%;
  margin-top: 20%;
  font-size: 7em;
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.info1,
.info2,
.info3,
.info4 {
  position: absolute;
  display: flex;
  text-align: center;
  margin-left: 6%;
  width: 50%;
  height: 100%;
  overflow: visible;
  line-height: 1.7;
}

.info1 {
  margin-top: 10%;
}

.info2 {
  margin-top: 26%;
}

.info3 {
  margin-top: 40%;
}

.info4 {
  margin-top: 48%;
  line-height: 2;
}

/* Footer Styles */
.foot {
  background: rgb(63, 77, 88);
  padding: 60px 1px 40px;
  opacity: 1;
}

.footname {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
hr{
  border: none;
  height: 1px;
  background-color:white;
  margin-top: 10px;
  
}
p{
  color:white;
}
.logos{
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons{
  width: 27px;
  height: 27px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 35px;
}

