*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
/* .container{
  scroll-snap-type: y mandatory;
} */

body{
  border: 10px solid #010102;
  background-color: #010102;
}

section {
  margin:0;
  padding: 0;
  
  /* border: 1px solid red; */
  /* width: fit-content; */
  top: 3vh;
  bottom: 10vh;
  height: 10vh;
  display: block;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}
.one{
  width:100%;
  position: relative;
  /* margin-bottom: 10vh; */
  /* border: 1px solid red; */
}

.topline{
  width: 100%;
  /* border: 10px solid red; */
  position: absolute;
  display: block;
  /* align-items: center; */
  float: top;
  margin-bottom: -55%;
  /* margin-right: 70%; */
  /* border: solid 10px red; */
}

.isrologo{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.isrotext{
  color: white;
  font-size: 20px;
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
  float: left;
  margin-left:100px;
}


#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: absolute;
  top: 35px;
  left: 1275px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
  display: inline;
  align-items: center;
  float: right;
  
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: white;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}

  .container{
    /* position: absolute; */
    margin-right: 30px;
    margin-top:5%;
    padding-top: 1%;
    padding-bottom: 5%;
  }
  .set{
    margin-left: 20%;
    width: 60%;
    margin-top:3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
  }
  .time{
    /* margin-right: 48%; */
    color: orange;
    /* bottom: 10px; */
  }
  .info{
    padding:10px;
    border: 1px solid white;
    margin-top: 5px;
    color:white;
  }
  
.timeline{
    color: white;
    position: inherit;
    margin-left: 45%;
    margin-top: 2%;
    font-size: 2em;font-family: "Averia Libre", system-ui;
    font-weight: 400;
    font-style: normal;
    /* font-weight: 500; */
}



/* Footer Styles */
.foot {
  background: rgb(63, 77, 88);
  padding: 60px 1px 40px;
  opacity: 1;
}

.footname {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
hr{
  border: none;
  height: 1px;
  background-color:white;
  margin-top: 10px;
  
}
p{
  color:white;
}
.logos{
  display: flex;
  justify-content: center;
  align-items: center;
}
.icons{
  width: 27px;
  height: 27px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 35px;
}